body {
margin: 0 0 0 0;
}

.container {
    width:100%;
    height:1000px;
    background-color:white;
    margin:20px auto;
}

.header {
    width: 100%;
    height: 125px;
    background-color: white;
}

.logo {float:left;
       margin: 25px 0 0 25px;
}

.display-wrapper {
    margin:25px 0 0 0;
    height: 400px;
    width: 100%;
    background-color:blue;
}

